<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://cdn.jsdelivr.net/bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.jsdelivr.net/bootstrap/2.2.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdn.jsdelivr.net/bootstrap/2.2.2/js/bootstrap.min.js"></script>
  </body>
</html>
