{% extends "base.html" %}
{% block body %}
<h1>{{name_json.first_name}}'s Dashboard</h1>
<br>
<br>


<div class="row-fluid tiles">
    <div class="span3">
        <div class="results">
            <p>You have</p>
            <h3><span class="text-error">{{obesity_results}}</span></h3>
            <p>Go to 23andMe to learn more.</p>
        </div>
    </div>
    <div class="span3">
        <div class="results">
            <p>The last time you stepped on the scale you weighed:</p>
            <h1>{{weight_results[0]}} lbs</h1>
            <p>{{rk_items[0].timestamp}}</p>
        </div>
    </div>
    <div class="span3">
        <div class="results">
            <p>The last time you exercised you went:</p>
            <h1>{{fit_items[0].type}}</h1>
            <p>for</p>
            <p><strong>{{fit_items[0].total_distance}} meters</strong></p>
            <p>on</p>
            <p>{{fit_items[0].start_time}}</p>
        </div>
    </div>
    <div class="span3">
        <div class="results">
            <p>Your Blood Pressure</p>
        </div>
    </div>
</div>
<div class="row-fluid tiles map">
    <div class="span6">
        <div class="results">
            <p>Your location history</p>
        </div>
    </div>
    <div class="span6 nomap">
        <div class="row-fluid">
            <div class="span12">
                <div class="results">
                    <p>Your location history</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid tiles pull-right">
    <div class="span3">
        <div class="results">
            <p>Your location history</p>
        </div>
    </div>
    <div class="span3">
        <div class="results">
            <p>Your location history</p>
        </div>
    </div>
</div>


<div>
    {{genotype_json}}
</div>
<br>
<div>
    {{rk_items}}
</div>
<div>
    {{weight_results}}
</div>
<div>
    {{fit_items}}
</div>

<div>
    {% for i in rk_items %}
        <div>{{i.timestamp}}: {{i.weight}}</div>
    {% endfor %}
</div>




{% endblock %}
