{% extends "base.html" %}
{% block title %}
The Genetic Dashboard
{% endblock %}

{% block body %}
<div class="hero-unit">
    <h1>Your Genetic Dashboard</h1>
    <br>
    <p>Your Genetic Dashboard combines your genetic data with all of your other health data and presents the most relevant information in a single place. We'll start by having you log into 23andMe so we can retrieve genetic data about your BMI.</p>
    <br>
    <p class="center-button"><a class="btn btn-success btn-large" href="{{auth_url}}">Get My Genetic BMI Data &raquo;</a></p>
</div>
{% endblock %}
